body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62%;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 1020;
    min-height: 60px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #E9E9E6;
}
.logo-container {
    display: inline-block;
    font-size: 3rem;
    line-height: 60px;
}
.logo-container i {
    margin: 0px 8px;
}
.navbar-right a{
  padding: 24px 15px;
}
.notifications, .tasks, .user {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 60px;
}
.notifications:hover, .tasks:hover, .user:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.dropdown-menu {
    width: 310px;
    right: 0;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.inner-wrapper {
    padding-top: 60px;
}
.sidebar-left{
  padding: 0;
}
@media (min-width: 768px) {
    .sidebar-left {
        position: fixed;
        left: 0;
        top: 62px;
        background-color: #f8f8f8;
        border-right: 1px solid #E9E9E6;

        min-height: 100%;
        width: 210px;
    }
}
.sidebar-header {
    height: 40px;
}
.sidebar-title {
    display: inline-block;
    line-height: 40px;
}
.sidebar-left li{
  border-bottom: 1px solid #E9E9E6;
  font-size: 1.5rem;
}
.sidebar-search >.input-group{
  padding: 10px;
}
